
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>HAKKIMDA</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />
            <p>Merhabalar, </p>
            <p> Ben Atiye Özpınar bu tatil seyahat blogumda sizlere elimden geldiğince  ülkemizin görünmeye değer  güzelliklerini sizlerle paylaşmaya çalışıcam; </p>

        </div>
    </div>
</div>
